// Reset all elements
*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;   // root (font-size): 1rem equivale a 10px, no 16px (valor por defecto). 
                        //      Es una mala practica definir valor en px y no ayuda al comportamiento cuando se hace zoom en el navegador.
                        //      Entonces se calcula el valor de 10px evitando usar unidades de medida con la siguiente formula 10px (unidad deseada en base 10) / 16px (valor por defecto del navegador) = 62.5% (porcentaje que representa la medida estandar deseada)
                        //          0.625% * 16px = 10px        (10px seria el valor por defecto, es recomendable transformarlo de esta manera para que quede en base 10)
                        //          0.625% * 20px = 12.5px      (12.5px seria el valor por defecto para este caso)
                        //          0.625% * 22px = 13.75px     (13.75px seria el valor por defecto para este caso)

    
    // Forma tradicional aprovechando la anidacion de elementos de Sass
    @media ( max-width: 600px ) {
        font-size: 50%;
    }

    // Mixin sin parametros
    @include respond-phone {
        font-size: 50%;
    }

    // Mixin con parametros
    @include respond( phone ) {
        font-size: 50%;
    }
    @include respond( tab-portrait ) {
        font-size: 60%;
    }
    @include respond( tab-land ) {
        font-size: 70%;
    }
    @include respond( big-desktop ) {
        font-size: 80%;
    }
}

// Forma tradicional usando CSS
@media ( max-width: 600px ) {
    html {
        font-size: 50%;
    }
}

body {
    box-sizing: border-box;
}