@mixin clearfix {
    &::after {
        clear: both;
        content: '';
        display: table;
    }
}

@mixin absolute-center {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate( -50%, -50% );
}

/** Media Query Manager (Desktop First)
 *  0 - 600px: Phone
 *  600px - 900px: Tablet portrait
 *  900px - 1200: Tablet landscape
 *  [ 1200px - 1800px ] is where our normal styles apply
 *  1800px +: Big Desktop
 */

 /** Breakpoint argument choices 
  *   - phone
  *   - tab-port
  *   - tab-land
  *   - big-desktop
  *
  * Order: Base + Typography > General Layout + Grid > Page Layout > Components
  *     
  *     1em = 16px
  */
@mixin respond( $breakpoint ) {
    @if $breakpoint == phone {
        // De 0 maximo hasta 600px : 600 / 16 = 37.5
        @media ( max-width: 37.5em ) {
            @content;
        }  
    }
    @if $breakpoint == tab-port {
        // De 0 maximo hasta 900px : 900 / 16 = 56.25
        @media ( max-width: 56.25em ) {
            @content;
        }  
    }
    @if $breakpoint == tab-land {
        // De 0 maximo hasta 1200px : 1200 / 16 = 75
        @media ( max-width: 75em ) {
            @content;
        }  
    }
    @if $breakpoint == big-desktop {
        // De 0 minimo hasta 1800px : 1200 / 16 = 112.5
        @media ( min-width: 112.5em ) {
            @content;
        }  
    }
}