// Variable Colors
$color-primary: #55C57A;
$color-primary-light: #7ED56F;
$color-primary-dark: #28b485;
$color-white: #FFF;
$color-gray-light: #F7F7F7;
$color-gray-dark: #777;
$color-black: #000;

$grid-width: 114rem;  // 1440px
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;