/** Variable Colors */
$color-primary: rgb( 126, 213, 111 );
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;
$color-white: #FFF;
$color-gray-dark: #777;
$color-black: #000;

/** Reset all elements */
*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;   /** root (font-size): 1rem equivale a 10px, no 16px (valor por defecto). 
                         *      Es una mala practica definir valor en px y no ayuda al comportamiento cuando se hace zoom en el navegador.
                         *      Entonces se calcula el valor de 10px evitando usar unidades de medida con la siguiente formula 10px (unidad deseada en base 10) / 16px (valor por defecto del navegador) = 62.5% (porcentaje que representa la medida estandar deseada)
                         *          0.625% * 16px = 10px        (10px seria el valor por defecto, es recomendable transformarlo de esta manera para que quede en base 10)
                         *          0.625% * 20px = 12.5px      (12.5px seria el valor por defecto para este caso)
                         *          0.625% * 22px = 13.75px     (13.75px seria el valor por defecto para este caso)
                         */
}

body {
    box-sizing: border-box;
    color: $color-gray-dark;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    padding: 3rem;
}

.header {
    background-image: linear-gradient( to right bottom, rgba( $color-primary, 0.8 ), rgba( $color-primary-dark, 0.8 ) ), url( '../img/hero.jpg' );
    background-position: top;
    background-size: cover;
    clip-path: polygon( 0 0, 100% 0, 100% 75vh, 0 100%);
    height: 95vh;
    position: relative;

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    &__logo {
        height: 3.5rem;
    }
    &__text-box {
        left: 50%;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate( -50%, -50% );
    }

}

.heading-primary {
    backface-visibility: hidden;
    color: $color-white;
    margin-bottom: 6rem;
    text-transform: uppercase;

    &--main {
        /* animation-delay: 3s; */
        animation-duration: 1s;
        /* animation-iteration-count: 3; */
        animation-name: moveInLeft;
        animation-timing-function: ease-out;
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    }
    &--sub {
        animation: moveInRight 1s ease-out;
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.74rem;
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX( -10rem );
    }
    80% {
        transform: translateX( 1rem );
    }
    100% {
        opacity: 1;
        transform: translateX( 0 );
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX( 10rem );
    }
    80% {
        transform: translateX( -1rem );
    }
    100% {
        opacity: 1;
        transform: translateX( 0 );
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY( 3rem );
    }
    100% {
        opacity: 1;
        transform: translateX( 0 );
    }
}

.btn {
    &:link, 
    &:visited {
        border-radius: 10rem;
        display: inline-block;
        font-size: 1.6rem;
        padding: 1.5rem 4rem;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .2s;
    }
    &:hover {
        box-shadow: 0 1rem 2rem rgba( $color-black, .2 );
        transform: translateY( -.3rem );

        &::after {
            opacity: 0;
            transform: scaleX( 1.4 ) scaleY( 1.6 );
        }
    }
    &:active {
        box-shadow: 0 .5rem 1rem rgba( $color-black, .2 );
        transform: translateY( -.1rem );
    }

    &--white {
        background-color: $color-white;
        color: $color-gray-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &::after {
        border-radius: 10rem;
        content: '';
        display: inline-block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
        transition: all .4s;
    }

    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}
